@import "nullstyle.scss";
//<Миксины>
@mixin anim($time, $delay){-webkit-transition:all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition:all $time ease $delay;-o-transition: all $time ease $delay; transition: all $time ease $delay;}
@mixin scale($num){-webkit-transform:scale($num);-moz-transform:scale($num);
	-ms-transform:scale($num);-o-transform:scale($num);transform:scale($num);}
@mixin rotate($deg){-webkit-transform:rotate($deg);-moz-transform:rotate($deg);-ms-transform:rotate($deg);-o-transform:rotate($deg);transform:rotate($deg);}
@mixin flexbox(){display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
@mixin scaleX($num){-webkit-transform:scaleX($num);-moz-transform:scaleX($num);
	-ms-transform:scaleX($num);-o-transform:scaleX($num);transform:scaleX($num);}
//<Переменные>
$minwidth: 320px;
$mw: 1440px;

$md1: $mw+6px;
$md2: 1090.98px;
$md3: 767.98px;
$md4: 500.98px;

//<Оболочка>
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//<Основная сетка>
.container, .container__small {
	width: 100%;
	margin:0 auto;
	@media(max-width: $md4){max-width: none; padding: 0 10px;}
}
.container{
	max-width: $mw;
	@media(max-width: $md1){max-width: 970px;}
	@media(max-width: $md2){max-width: 750px;}
	@media(max-width: $md3){max-width: 520px;}
	
}
.container__small{
	max-width: 1296px;
	@media(max-width: $md1){max-width: 850px;}
	@media(max-width: $md2){max-width: 650px;}
	@media(max-width: $md3){max-width: 440px;}
}

//<Header>
.header {
	position: fixed;
	top:0; left:0;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	width: 100%;
	&.active {
		background-color: rgba(0,0,0,1);
	}
	&.active_menu {
		height: 88px;
	}
	&__body {
		@include flexbox();
		justify-content: space-between;
	}
	&__logo {
		margin: 32px 0;
		font-size: 24px;
	}
}
.menu-header {
	&__icon {
		display:none;
		position:relative;
		top: 30px;
		right: 20px;
		width: 30px;
		height: 18px;
		cursor:pointer;
		z-index: 3;
		@media(max-width: $md3){
			display: block;
		}
		span{
			@include anim(0.3s,0s);
			top:8px;
			right: 0px;
			position:absolute;
			width:100%;
			height: 4px;
			background-color: #C4C4C4;
			&:first-child{top:0px;}
			&:last-child{top:auto;bottom:3px;width:75%;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top:7px;}
				&:last-child{@include rotate(45deg);bottom:7px;width: 100%;}
			}
		}		
	}
	&__menu {
		@media(max-width: $md3){
			position: absolute;
			top:88px;left:2000px;
			z-index: 1;
			width: 100%;
			height: 100vh;
			background:url('../img/img_about/01.png') center/cover no-repeat;
			@include anim(0.7s, 0s);
			&.active {
				left:0;
			}
		}
	}
	&__list {
		@include flexbox();
		font-size: 16px;
		line-height: 150%;
		@media(max-width: $md3){
			flex-direction: column;
			font-size: 36px;
			font-weight: 700;
		}
	}
	&__link {
		display: block;
		padding:32px 24px;
		&:hover, &.active {
			background-color: #5221E6;
		}
		@media(max-width: $md3){
			display: inline-block;
			padding: 0px;
			margin: 50px 0 0 20px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				bottom:0;
				left:0;
				width: 100%;
				height: 2px;
				background-color: #FFF;
				@include scaleX(0);
				@include anim(0.7s,0s);
			}
			&:hover, &.active {
				background-color: rgba(0,0,0,0);
				&::before {
					@include scaleX(1);
				}
				
			}
		}
	}
}
//<Main>
//<Preview>
.preview {
	background: linear-gradient(to left,#181823 59.5%, #000 40.5%);
	padding:166px 0 84px 0;
	@media(max-width: $md3){
		padding: 100px 0 84px 0;
	}
	&__body {
		position: relative;
	}
	&__img {
		width: 750px;
		height: 650px;
		@media(max-width: $md1){
			width: 550px;
		}
		@media(max-width: $md2){
			width: 384px;
		}
		@media(max-width: $md3){
			width: 100%;
			margin: 0 0 48px 0;
		}
		@media(max-width: $md4){
			height: 288px;
		}
	}
	&__titleblock {
		position: absolute;
		top:140px;
		right: 30px;
		width: 52%;
		color:#FFF;
		@media(max-width: $md1){
			top:100px;
			right: 0px;
		}
		@media(max-width: $md2){
			top:87px;
		}
		@media(max-width: $md3){
			position: relative;
			top:0;
			width: 100%;
		}
		p {
			font-size: 18px;
			line-height: 150%;
		}
	}
	&__title {
		font-size: 78px;
		font-weight: 700;
		line-height: 94px;
		margin: 0 0 34px 0;
		@media(max-width: $md1){
			font-size: 60px;
			line-height: 76px;
		}
		@media(max-width: $md2){
			font-size: 54px;
			line-height: normal;
		}
		@media(max-width: $md4){
			font-size: 32px;
			margin: 0 0 16px 0;
		}
		span {
			color: rgba(255, 255, 255, 0.50);
		}
	}
}
//<Experience>
.experience {
	padding:120px 0 98px 0;
	@media(max-width: $md4){
		padding: 48px 0 0 0;
	}
	&__body {
		display: grid;
		grid-template: 0.9fr 1fr/1fr;
		gap:10px;
		@media(max-width: $md2){
			grid-template: 0.7fr 1fr/1fr;
			gap:40px;
		}
		@media(max-width: $md3){
			grid-template: 0.3fr 1fr/1fr;
		}
	}
	&__titleblock {
		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 150%;
			text-transform: uppercase;
			margin:0 0 12px 0;
		}
	}
	&__title {
		line-height: 65px;
		width: 60%;
		color:#FFF;
		font-size: 55px;
		font-weight: 700;
		@media(max-width: $md1){
			width: 80%;
		}
		@media(max-width: $md2){
			width: 100%;
		}
		@media(max-width: $md3){
			line-height: normal;
		}
		@media(max-width: $md4){
			font-size: 32px;
		}
	}
	&__columns {
		display: grid;
		grid-template: 1fr/repeat(3,1fr);
		gap:22px;
		@media(max-width: $md3){
			grid-template: repeat(3,1fr)/1fr;
		}
		@media(max-width: $md4){
			gap:0;
		}
	}
	&__column {
		&:first-child {
			span {
				color: #3CC74E;
			}
		}
		&:nth-child(2) {
			span {
				color: #609BFF;
			}
		}
		&:last-child {
			span {
				color: #E95D90;
			}
		}
	}
	&__num {
		color: #8491A0;
		font-size: 117px;
		margin:0 0 12px 0;
	}
	&__company {
		color:#FFF;
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		margin:0 0 20px 0;
	}
	&__desc {
		width: 88%;
		font-family: Sen;
		font-size: 16px;
		line-height: 150%;
	}
}
//<About && instagram>
.about, .instagram{
	background-color: #FFF3E4;
	&__body {
		display: grid;
		grid-template: 1fr/repeat(2,1fr);
		@media(max-width: $md3) {
			grid-template: 0.7fr 1fr/1fr;
			gap:51px;
		}
	}
	&__textblock {
		margin: 124px 0 0 72px;
		@media(max-width: $md1){
			margin: 80px 0 0 40px;
		}
		a {
			color: #181823;
			font-size: 16px;
			line-height: 150%;
			&::before {
				background: #8491A0;
			}
		}
	}
	&__title {
		color: #181823;
		font-size: 55px;
		font-weight: 700;
		margin:0 0 30px 0;
		@media(max-width: $md4) {
			font-size: 32px;
			margin:0 0 24px 0;
		}
	}
	&__desc {
		margin: 0 0 134px 0;
		width: 88%;
		color: #5B6876;
		font-size: 18px;
		line-height: 150%;
		@media(max-width: $md1){
			margin: 0 0 67px 0;
		}
	}
	&__imageblock {
		width: 720px;
		height: 600px;
		@media(max-width: $md1){
			width: 520px;
		}
		@media(max-width: $md2){
			width: 384px;
		}
		@media(max-width: $md3) {
			width: 100%;
		}
	}
}
//<Skillset>
.skillset {
	padding:116px 0 120px 0;
	@media(max-width: $md3){
		padding:64px 0;
	}
	&__body {
		display: grid;
		grid-template: 1fr/ 0.6fr 1.4fr;
		@media(max-width: $md2){
			grid-template: 0.6fr 1.4fr/1fr;
			gap: 72px;
		}
		@media(max-width: $md4){
			grid-template: 0.6fr 1fr/1fr;
			gap:30px;
			max-height: 1348px;
		}
	}
	&__titleblock {

	}
	&__title {
		margin: 10px 0 30px 0;
		color: #FFF;
		font-size: 55px;
		font-weight: 700;
		@media(max-width: $md4){
			font-size: 32px;
		}
	}
	&__desc {
		font-size: 18px;
		line-height: 150%;
	}
	&__columns {
		display: grid;
		grid-template: repeat(2,1fr)/ repeat(2,1fr);
		gap: 22px;
		@media(max-width: $md4){
			grid-template: repeat(4,1fr)/ 1fr;
			gap:48px;
		}
	}
	&__column {
		span {
			display: inline-block;
			margin:0 0 22px 0;
			color:#5221E6;
			font-size: 32px;
		}
		h3 {
			margin:0 0 12px 0;
			color: #FFF;
			font-size: 24px;
			font-weight: 700;
			line-height: 150%;
		}
		p {
			width: 90%;
			font-size: 16px;
			line-height: 150%;
		}
	}
}
//<Partners>
.partners {
	&__body {
		padding: 4px 0 0 55px;
		@include flexbox();
		flex-wrap: wrap;
		@media(max-width: $md1){
			padding: 0px;
		}
		a {
			border:1px solid #181823;
			padding: 55px 0;
			@include flexbox();
			justify-content: center;
			flex: 1 1 25%;
			@media(max-width: $md1){
				flex: 1 1 50%;
			}
			&:nth-child(5),&:last-child{
				display: none;
				@media(max-width: $md1){
					display: flex;
				}
			}
		}
		span {
			font-size: 29px;
			@media(max-width: $md4){
				font-size: 22px;
			}
		}
	}
}
//<Projects>
.projects {	
	&__body {
		padding: 118px 0 168px 0;
		display: grid;
		grid-template: repeat(9,1fr)/repeat(2,1fr);
		grid-template-areas: 
		"title card2"
		"card1 card2"
		"card1 card2"
		"card1 card2"
		"card1 card4"
		"card3 card4"
		"card3 card4"
		"card3 card4"
		"card3 btn";
		gap:30px 22px;
		@media(max-width: $md1){
			padding:80px 0;
			grid-template: 0.2fr repeat(4,1fr) 0.2fr/1fr;
			grid-template-areas: 
			"title"
			"card1"
			"card3"
			"card2"
			"card4"
			"btn";
			gap:48px;
		}
	}
	&__titleblock {
		width: 86%;
		grid-area: title;
		@media(max-width: $md1){
			margin:0 0 80px 0;
		}
		@media(max-width: $md2){
			margin:0 0 10px 0;
		}
		p {
			font-size: 16px;
			font-weight: 700;
			line-height: 150%;
			text-transform: uppercase;
			margin:0 0 8px 0;
		}
		h2 {
			color: #FFF;
			font-size: 55px;
			font-weight: 700;
			line-height: 65px;
			@media(max-width: $md3){
				font-size: 32px;
				line-height: 42px;
			}
		}
	}
	&__card {
		@include flexbox();
		flex-direction: column;
		background-color: #181823;
		&:nth-child(2){
			grid-area: card1;
		}
		&:nth-child(3) {
			grid-area: card2;
		}
		&:nth-child(4) {
			grid-area: card3;
		}
		&:nth-child(5) {
			grid-area: card4;
		}
		
		h3 {
			margin: 40px 0 14px 34px;
			color: #FFF;
			font-size: 24px;
			font-weight: 700;
			line-height: 150%;
		}
		p {
			width: 90%;
			margin: 0 0 40px 34px;
			font-size: 18px;
			line-height: 150%;
		}

	}
	&__img {
		width: 636px;
		height: 620px;
		@media(max-width: $md1){
			width: 100%;
		}
		@media(max-width: $md3){
			height: 400px;
		}
	}
	&__btnblock {
		grid-area: btn;
		@include flexbox();
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__btn {
		font-size: 18px;
		padding: 24px 32px;
		background-color: #000000;
		&:hover, &.active {
			background-color: #5221E6;
		}
		@media(max-width: $md1){
			right: -32px;
		}
		@media(max-width: $md2){
			right: 0px;
			top:0;
			position: relative;
		}
	}
}
//<Dribbble>
.dribbble {
	padding: 126px 0 120px 220px;
	@media(max-width: $md1) {
		padding: 120px 0;
	}
	@media(max-width: $md3) {
		padding: 64px 0;
	}
	&__textblock {
		a {
			margin:0 0 120px 0;
			display: inline-block;
			color: #FFF;
			font-size: 16px;
			line-height: 150%;
			&::before {
				background: #8491A0;
			}
			@media(max-width: $md3) {
				margin: 0 0 64px 0;
			}			
		}
	}
	&__title {
		color: #FFF;
		font-size: 55px;
		font-weight: 700;
		margin:0 0 30px 0;
	}
	&__desc {
		font-size: 18px;
		line-height: 150%;
		margin:0 0 40px 0;
		width: 50%;
		@media(max-width: $md1) {
			width: 100%;
		}
	}
	&__img {
		width: 1076px;
		height: 676px;
		img {
			max-width: 100%;
			height: 100%;
			@media(max-width: $md3) {
				object-fit: cover;
			}
		}
		@media(max-width: $md1) {
			width: 688px;
			height: 480px;
		}
		@media(max-width: $md3) {
			width: 100%;
			height: 480px;
		}
	}
}
//<Reviews>
.reviews {
	&__body {
		@include flexbox();
		flex-wrap: wrap;
		padding: 120px 0;
		@media(max-width: $md3){
			flex-direction: column;
			padding: 48px 0;
		}
	}
	&__textblock {
		padding: 0 60px 0 0;
		flex: 1 1 50%;
		@media(max-width: $md1){
			padding: 0 8px 0 0;
		}
		@media(max-width: $md3){
			padding: 0;
			margin: 0 0 65px 0;
		}
	}
	&__title {
		color: #FFF;
		font-size: 55px;
		font-weight: 700;
		@media(max-width: $md3){
			font-size: 32px;
		}
		&:not(:last-child){
			margin:0 0 24px 0;
		}
	}
	&__description {
		font-size: 18px;
		line-height: 150%; 
		&:not(:last-child){
			margin:0 0 40px 0;
		}
	}
	&__link {
		color:#FFF;
		font-size: 16px;
		line-height: 150%;
		&::before {
			background: #8491A0;
		}
	}
	&__contentblock {
		flex: 1 1 50%;
	}
	&__card {
		display: inline-block;
		border:1px solid #5B6876;
		&:not(:last-child) {
			margin: 0 0 120px 0;
			@media(max-width: $md1){
				margin:0 0 64px 0;
			}
		}
	}
	&__img {
		width: 100%;
		height: 360px;
	}
	&__content {
		padding: 64px;
		@media(max-width: $md1){
			padding: 32px;
		}
	}
	&__review {
		color: #FFF;
		font-size: 24px;
		font-weight: 700;
		line-height: 150%;
		&:not(:last-child){
			margin:0 0 64px 0;
		}
	}
	&__name, &__company {
		color: #5B6876;
		font-size: 18px;
		line-height: 150%;
	}
	&__name {
		font-weight: 700;
	}
}
//<Photography>
.photography {
	&__body {
		padding: 120px 0;
		@media(max-width: $md3){
			padding: 96px 0;
		}
	}
	&__titleblock {
		margin: 0 0 64px 0;
	}
	&__title {
		color: #FFF;
		font-size: 55px;
		font-weight: 700;
		&:not(:last-child) {
			margin: 0 0 24px 0;
		}
		@media(max-width: $md3){
			font-size: 32px;
		}
	}
	&__description {
		font-size: 18px;
		line-height: 150%;
	}
	&__buttons {
		margin: 0 0 40px 0;
		@media(max-width: $md3){
			display: grid;
			grid-template: repeat(2,1fr)/repeat(2,1fr);
			gap:24px;
		}
	}
	&__btn {
		padding: 12px 16px;
		background-color: transparent;
		font-size: 18px;
		&:not(:last-child) {
			margin:0 24px 0 0;
		}
		&.active {
			background-color: #5221E6;
		}
		@media(max-width: $md3){
			&:not(:last-child) {
				margin:0;
			}
		}
	}
	&__photoblock {
		flex-wrap: wrap;
		display: none;
		&.active {
			@include flexbox();
		}
	}
	&__img {
		flex: 0 1 25%;
		width: 306px;
		height: 420px;
		margin:0 0 24px 0;
		&:not(:last-child){
			padding: 0 24px 0px 0;
		}
		@media(max-width: $md1){
			flex: 0 1 50%;
			&:last-child{
				padding: 0 24px 0px 0;
			}
		}
		@media(max-width: $md3){
			flex: 0 1 100%;
			&:not(:last-child),&:last-child{
				padding: 0px;
			}
		}	
	}
}
//<Contacts>
.contacts {
	&__body {
		padding: 120px 112px;
		@include flexbox();
		@media(max-width: $md1){
			padding: 80px 0;
		}
		@media(max-width: $md3){
			padding: 48px 0;
			flex-direction: column;
		}
	}
	&__textblock {
		margin:0 24px 0 0;
		@media(max-width: $md3){
			margin:0 0 48px 0;
		}
	}
	&__title {
		color: #FFF;
		font-size: 55px;
		font-weight: 700;
		margin:0 0 24px 0;
		@media(max-width: $md3){
			font-size: 32px;
			margin:0 0 16px 0;
		}
	}
	&__description {
		font-size: 18px;
		line-height: 150%;
		width: 84%;
		@media(max-width: $md3){
			width: 100%;
		}
	}
	&__form {
		@include flexbox();
		flex-direction: column;
		width: 526px;
		@media(max-width: $md3){
			width: 100%;
		}
		label {
			color: #FFF;
			font-size: 16px;
			line-height: 150%;
			margin: 0 0 8px 0;
		}
		input,textarea {
			background: #181823;
			color: #FFF;
			margin: 0 0 40px 0;
			padding: 10px 15px;
			&:focus {
				border:1px solid #FFF;
				border-radius: 10px;
			}
		}
		input {
			height: 50px;
		}
		textarea {
			height: 100px;
			resize:none;
		}
	}
	&__btn {
		padding: 24px 32px;
		background-color: #5221E6;
	}
}
//<Footer>
.footer {
	padding: 80px 0;
	@media(max-width: $md3){
		padding: 48px 0;
	}
	background-color: #181823;
	&__top {
		@include flexbox();
		justify-content: space-between;
		margin: 0 0 46px 0;
		@media(max-width: $md3){
			flex-direction: column;
		}
	}
	&__logoblock {
		@media(max-width: $md3){
			margin:0 0 48px 0;
		}
	}
	&__logo {
		font-size: 40px;
		margin: 0 0 32px 0;
	}
	&__social {
		font-size: 29px;
	}
	&__menu {
		@include flexbox();
		@media(max-width: $md3){
			flex-direction: column;
		}
	}
	&__bottom {
	}
	&__copy {
		font-size: 16px;
		line-height: 150%;
	}
}
.menu-footer {
	&__list {
	}
	&__link {
		@include flexbox();
		align-items: center;
		width: 196px;
		height: 48px;
		color: #FFF;
		font-size: 16px;
		line-height: 150%;
		padding: 0 0 0 10px;
		@media(max-width: $md2){
			width: 154px;
		}
		&:hover, &.active {
			background-color: #5221E6;
		}
	}
}

//<Дополнительные классы>
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}
.btn {
	display: inline-block;
	color: #FFF;	
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	border:1px solid #5221E6;
}
.link {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top:108%;
		left:0;
		width: 100%;
		height: 1px;
		@include scaleX(1);
		@include anim(0.7s,0s);
	}
	&:hover {
		&::before {
			@include scaleX(0.7);
		}
	}
}
[class^="icon"] {
	&:hover, &.active {
		color: #5221E6;
	}
}
.icon-tw {
	color: #26A7DE;
}
.icon-dr {
	color:#E94B88;
}
.icon-li {
	color: #0077B5;
}